*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    color: #17a2b8;
    font-size: 1.2rem;
}

i:hover{
    cursor: pointer;
}

.invisibl{
    display: none !important;
}

.deletedRow{
    text-decoration: line-through;
    font-style: italic;
}